.back-btn {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
}




.templates-section {
    padding: 40px 30px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section-header h2 {
    font-size: 22px;
}

.view-all {
    color: #2278e8;
    text-decoration: none;
    font-size: 14px;
}

.view-all:hover{
    color: #2563eb;
}

.templates-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 50px;
}

.template-card {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    overflow: hidden;
}

.card-img {
    position: relative;
    height: 160px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tag {
    position: absolute;
    top: 12px;
    right: 12px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 20px;
}

.card-body {
    padding: 16px;
}

.card-body h3 {
    margin-bottom: 8px;
    font-size: 18px;
}

.card-body p {
    font-size: 14px;
    color: #666;
    margin-bottom: 12px;
}

.card-body button {
    width: 100%;
    background: #e8f0fe;
    color: #2278e8;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.card-body button:hover{
    background-color: #2563eb;
    color: white;
}

.back-div{
    width: 5%;
}

.back-div a{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size:18px;
}

.back-div a:hover{
text-decoration: underline;
}

.back-div img{
    height: 20px;
    width:20px;
    position: relative;
    top: 2px;
}
